body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: ##b9b9b9; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
    float: center;
	margin: 10 110 10 110px ;
}

img {
	max-width: 100%;
	height: auto;
}
#main-header {
    top: 0px;
    width: 100%;
    position:fixed;
	background: #333;
	color: white;
	height: 112px;
}	
	#main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
    border: #0b76a6 5px solid;
    background:#0b76a6 ;
	float: left;
	padding: 15px 15 15 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #000000;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
.header {
    position: fixed;}
nav#menu-grande {
	
    float: right;
    ;
}
	nav#menu-grande ul {
        ;
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 60px;
	}
	
		nav#menu-grande ul li {
			display: inline-block;
			line-height: 112px;
		}
			
			nav#menu-grande ul li a {
                ;
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav#menu-grande ul li a:hover {
                    ;
					background: #0b76a6;
				}

nav#menu-movil {
    display: none;
}

nav#menu-movil ul{
    list-style: none;
}

nav#menu-movil ul li{
    display: inline-block;
}

nav#menu-movil ul li a{
    padding: 4px 10px;
    text-decoration: none;
}

nav#menu-movil ul li a:hover {
    background: #0b76a6;
   
}


@media (max-width: 1200px) {
    nav#menu-movil {
        display: block;
    }
    nav#menu-grande {
        display:none;
    }
}

#main-content {margin-top: 120px}
#main-footer {
    bottom: 0px;
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
    padding-bottom: 50px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
#pie1 {float: right;}
#pie2 {float: left;}